
html, body {
  height: 100%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.jumbotron {
	margin: 40px;
}

.jumbotron div {
	text-align: center;
}

.dice-row {
	margin: 0 0 20px 0;
}

.score-label {
	font-size: 1.5em;
}

.dice-row button {
	height: 44px;
	width: 44px;
}

button {
  cursor: pointer;
  font-size: 1.5em;
}
