{% include "templates/header.html" %}

<!--
  Incomplete games
  Game's I've completed
  Solo games
-->

<script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script src="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">

<link rel="stylesheet" type="text/css" href="/static/stylesheets/games.css">
<script src="/static/js/dwf_games.js"></script>

<div class="container main">
  {% if incomplete_games %}
    <h1>Incomplete games</h1>
    <div class="table-wrapper">
      <table id="incomplete-games-table" class="table table-striped table-hover table-condensed table-responsive"></table>
      <script>
        var incompleteGamesColumns = [
           {
        	"title": "Opponent",
        	"class": "opponent",
            "render": function(data, type, full, meta) {
              if (type == "display") {
                return "<a href='/play?game_key=" + data.game_key + "'>" + data.opponent + "</a>";
              }
              return data.opponent;
            }
          },
          { "title": "Date",
              "class": "date",
              "orderSequence": ["desc", "asc"],
              "searchable": false,
              "render": function(data, type, full, meta) {
                if (type == "sort") {
                  return data.date_sort;
                }
                return data.date_display;
              }
            },
          { "title": "Round", "class": "round"},
          { "title": "My Round", "class": "round"},
          { "title": "Opponent Finished?", "class": "center"}
        ];
        var incompleteGamesDataSet = [
          {% for incomplete_game in incomplete_games %}
            [
             { "opponent": "{{ incomplete_game.opponent_name }}",
               "game_key": "{{ incomplete_game.key }}"
             },
             {
               "date_sort": "{{ incomplete_game.last_update_by_opponent }}",
               "date_display": "{{ incomplete_game.last_update_by_opponent|date_format }}"
             },
             "{{ incomplete_game.official_round }}",
             "{{ incomplete_game.current_player_round }}",
             "{{ incomplete_game.is_opponent_finished|game_complete_boolean_format }}",
            ]
            {% if not loop.last %},{% endif %}
          {% endfor %}
        ];
        $("#incomplete-games-table").DataTable({
          "columns": incompleteGamesColumns,
          "data": incompleteGamesDataSet
        }).order([3, "asc"]).order([1, "desc"]).order([4, "desc"]).draw();
      </script>
    </div>
  {% else %}
    <div class="jumbotron center">
      <p>No have no incomplete games.  Maybe you'd like to start a new game.</p>
      <p><button id="new-game-btn" class="btn btn-lg btn-success" type="button" >New Game</button></p>
    </div>
  {% endif %}
</div>

{% include "templates/new_game_modal.html" %}
{% include "templates/footer.html" %}