<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Dice with Friends</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap-theme.min.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Dice with Friends</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/games">Look for games</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ logout_url }}">Logout{% if player %} {{ player.get_display_name() }}{% endif %}</a></li>
        </ul>
      </nav>
    </div>
  </header>