{% include "templates/header.html" %}

<script src="/static/js/dwf_play_main.js"></script>
<script src="/static/js/Die.js"></script>
<script src="/static/js/DiceRound.js"></script>
<script src="/static/js/DiceRoundController.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/play.css">

	<div class="container">
		<div class="jumbotron row main">
			<div class="col-xs-12 score-label">Score = <span id="round-score">0</span></div>
			<div class="col-xs-12 off-table dice-row">
				<button id="btn-off-table-0" type="button" class="btn btn-lg"></button>
				<button id="btn-off-table-1" type="button" class="btn btn-lg"></button>
				<button id="btn-off-table-2" type="button" class="btn btn-lg"></button>
				<button id="btn-off-table-3" type="button" class="btn btn-lg"></button>
				<button id="btn-off-table-4" type="button" class="btn btn-lg"></button>
				<button id="btn-off-table-5" type="button" class="btn btn-lg"></button>
			</div>
			<div class="col-xs-12 on-table dice-row">
				<button id="btn-on-table-0" type="button" class="btn btn-lg"></button>
				<button id="btn-on-table-1" type="button" class="btn btn-lg"></button>
				<button id="btn-on-table-2" type="button" class="btn btn-lg"></button>
				<button id="btn-on-table-3" type="button" class="btn btn-lg"></button>
				<button id="btn-on-table-4" type="button" class="btn btn-lg"></button>
				<button id="btn-on-table-5" type="button" class="btn btn-lg"></button>
			</div>
			<div class="col-xs-12">
			  <button id="btn-roll-again" type="button" class="btn btn-lg btn-danger">Roll Again</button>
			  <button id="btn-stop" type="button" class="btn btn-lg btn-success">Stop</button>
			</div>
		</div>
	</div>

	<h1>This page is FAR from finished. :)</h1>

{% include "templates/footer.html" %}